{% form_theme form 'bootstrap_5_layout.html.twig' %}
{{ form_start(form) }}
    {{ form_widget(form) }}
    <br>
    <button class="btn btn-success btn-lg">{{ button_label|default('Enregister ') }}</button>
{{ form_end(form) }}
