
{% extends 'base.html.twig' %}

{% block body %}
<div class="wrapper">
  <div class="content-wrapper">
     <div class="row" style="padding-left:2%;padding-top:2%">
          <div class="col-md-6">
            <div class="card card-success">
              <div class="card-header">
                <h3 class="card-title">
          
                  MODIFIER LES INFORMATIONS D'UNE ECOLE 
                </h3>
              </div>
              <!-- /.card-header -->
              <div class="card-body">
              {{ include('ecole/_form.html.twig', {'button_label': 'Update'}) }}
              </div>
              <!-- /.card-body -->
            </div>
          </div>  
        </div>
    </div>
</div>

{% endblock %}
