{% extends 'base.html.twig' %}

{% block title %}Niveau index{% endblock %}

{% block body %}
<section id="main-content">
    <section class="wrapper">
        <h3><i class="fa fa-angle-right"></i> GESTION DE NIVEAU D'ETUDE  </h3>
        <!-- BASIC FORM VALIDATION -->
        <div class="row mt">
          
          <div class="col-lg-8">
            <div class="content-panel">
              <h4><i class="fa fa-angle-right"></i> Liste des Niveaux d'etudes </h4>
              <hr>
              <table class="table">
                <thead>
                  <tr>
                    
                    <th>N°</th>
                    <th>libelle</th>
                    <th>Action</th>
                  </tr>
                </thead>
                <tbody>
                 {% for niveau in niveaux %}
                  <tr>
                    <td>{{ niveau.id }}</td>
                    <td>{{ niveau.libelle  }}</td>
                    <td>
                    
                    <button class="btn btn-primary btn-xs" style="display-inline:block"> <a href="{{ path('niveau_edit', {'id': niveau.id}) }}"><i style="color:white" class="fa fa-pencil"></i></a></button>
                    <div style="display: inline-block;padding-left:2% ; color:red">{{ include('niveau/_delete_form.html.twig') }} </div> 
                     
                     
                     </td>
                  </tr>
                  {% endfor %}  
                </tbody>
              </table>
            </div>
            <!-- /form-panel -->
          </div>

          <!-- /col-lg-12 -->
        </div>
        
        <!-- /row -->
      </section>
      <!-- /wrapper -->
</section>
{% endblock %}
