{{ form_start(form) }}
    {{ form_widget(form) }}
    <br>
    <button class="btn btn-lg btn-success" id="buton-ajouter-etudiant">{{ button_label|default('Enregister') }}</button>
{{ form_end(form) }}
